
<div class="formsWrapper">
  <div
    *ngFor="let singleForm of singleSectionTab.inputFormsToAccept"
    class="singleFormWrapper"
  >
    <div>
      <app-input-form [inputFormData]="singleForm" [isDarkThemeEnabled]="isDarkThemeEnabled"></app-input-form>
    </div>
  </div>
  <div class="singleFormWrapper">
    <app-rate-stack [isDarkThemeEnabled]="isDarkThemeEnabled"></app-rate-stack>
  </div>
  <div class="singleFormWrapper">
    <app-eligibility-loan-terms [isDarkThemeEnabled]="isDarkThemeEnabled"></app-eligibility-loan-terms>
  </div>
  <div class="singleFormWrapper">
    <app-calculated-values [isDarkThemeEnabled]="isDarkThemeEnabled"></app-calculated-values>
  </div>
</div>