<div class="bgColorWhiteCommon minHeightPadding">
<div class="borderBottomTabs">
  <div class="tabsContainer">
    <mat-tab-group
      mat-align-tabs="start"
      (selectedIndexChange)="onTabChange($event)"
    >
      <div *ngFor="let tabValue of tabsToShow">
        <mat-tab [label]="tabValue">{{ "" }}</mat-tab>
      </div>
    </mat-tab-group>
  </div>
</div>

  <div *ngIf="selectedTabIndex === 0" class="spaceBeforeTable">
    <table mat-table [dataSource]="dataToLoad">
      <ng-container matColumnDef="range">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="rangeCell">
          {{ element.range }}
        </td>
      </ng-container>

      <ng-container matColumnDef="purchase">
        <th mat-header-cell *matHeaderCellDef>Purchase</th>
        <td mat-cell *matCellDef="let element" class="blackShade">
          {{ element.purchase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rateTerm">
        <th mat-header-cell *matHeaderCellDef>Rate/Term</th>
        <td mat-cell *matCellDef="let element" class="blackShade">
          {{ element.rateTerm }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cashout">
        <th mat-header-cell *matHeaderCellDef>Cash Out</th>
        <td mat-cell *matCellDef="let element" class="blackShade">
          {{ element.cashout }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div *ngIf="selectedTabIndex === 1">
    <div *ngFor="let singleMessage of messageToLoad">
      <div class="warningMessageBg">
        <div><mat-icon class="warningIcon">warning</mat-icon></div>
        <div class="message">{{ singleMessage }}</div>
      </div>
    </div>
  </div>
</div>
