@use "@angular/material" as mat;
@use "styles/base";

@import "~@angular/material/theming";

@include mat.core();

$atlas-t: (
  50: #e5effd,
  100: #bfd8fb,
  200: #94bef9,
  300: #69a3f6,
  400: #4890f4,
  500: #287cf2,
  600: #2474f0,
  700: #1e69ee,
  800: #185fec,
  900: #0f4ce8,
  A100: #ffffff,
  A200: #e1e8ff,
  A400: #aec2ff,
  A700: #95aeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$atlas-t2: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$atlas-primary: mat.define-palette($atlas-t, 500, 100, 900);
$atlas-accent: mat.define-palette($atlas-t2, A200, A100, A400);

$atlas-warn: mat.define-palette(mat.$red-palette);

$atlas-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $atlas-primary,
      accent: $atlas-accent,
      warn: $atlas-warn,
    ),
  )
);

@include mat.all-component-themes($atlas-default-theme);

$atlas-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $atlas-primary,
      accent: $atlas-accent,
      warn: $atlas-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($atlas-dark-theme);
}

.bgColorWhiteCommon {
  background-color: #ffffff;
}

.formLabel {
  line-height: 22px;
  font-size: 14px !important;
  font-weight: 600;
  display: flex;
  padding-bottom: 15px;
}

.tableHeader {
  background-color: #d4e5f4;
}

.borderRadius0 {
  border-radius: 0 !important;
}

.darkBgShade2 {
  background-color: #2E333F;
}

.darkBgShade3 {
  background-color: #1F242E;
}

.darkColorShade2 {
  color: #828C9A;
}