<div class="calculatedWrapper commonBgThemeBased">
    <div>
        <label class="calcLabel paddingTop20">Calc,d Value</label>
        <div class="gridListWrapper">
            <mat-grid-list cols="2" rowHeight="50px" gutterSize="0">
                <mat-grid-tile>
                    <div class="cellWrapper">
                        <div class="calcDLabel">Max LTV</div>
                        <div class="calcDValue">75%</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="cellWrapper">
                        <div class="calcDLabel">Max Loan Amount</div>
                        <div class="calcDValue">$591,798.75</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="cellWrapper">
                        <div class="calcDLabel">Property Value</div>
                        <div class="calcDValue">$789,065</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="cellWrapper">
                        <div class="calcDLabel">Minimum DSCR</div>
                        <div class="calcDValue">1.0</div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div class="bottomBorder">
        <label class="calcLabel2">Calc,d Value</label>
        <div class="gridListWrapper">
            <mat-grid-list cols="12" rowHeight="50px" gutterSize="0">
                <mat-grid-tile [colspan]="'6'">
                    <div class="cellWrapper">
                        <div class="calcDLabel">LTV</div>
                        <div class="calcDValue">126.73</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="'6'">
                    <div class="cellWrapper">
                        <div class="calcDLabel">Property Value</div>
                        <div class="calcDValue"></div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="'4'">
                    <div class="cellWrapper">
                        <div class="calcDLabel">Per Door</div>
                        <div class="calcDValue">Pass</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="'4'">
                    <div class="cellWrapper">
                        <div class="calcDLabel">Loan Amount</div>
                        <div class="calcDValue displayFlex">
                            <div class="greenRectangle">&nbsp;</div>
                            <div>Pass</div>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="'4'">
                    <div class="cellWrapper">
                        <div class="calcDLabel">DSCR</div>
                        <div class="calcDValue displayFlex">
                            <div class="greenRectangle">&nbsp;</div>
                            <div>Pass</div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div class="actionButtonWrapper">
        <button mat-stroked-button class="secondary-button borderRadius0">Lock Rate</button>
        <button mat-flat-button color="primary" class="borderRadius0">
            Save Quote
        </button>
    </div>
</div>